html,
body,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  color: #fff;
  overflow-x: hidden;
}

h2 {
  margin-top: 150px;
  margin-left: 41%;
  font-size: 2rem;
  color: black;
  font-family: Poppins, sans-serif;
}

.contact-me {
  margin-left: 40%;
}

* {
  font-family: "open sans", "lato", "helvetica", sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #16161d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.page {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2,
#p3,
#p4,
#p5 {
  left: 200%;
}

#p1 {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

#p2 {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

#p3 {
  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}

#p4 {
  background-color: #fe7bb0;
  background-image: linear-gradient(315deg, #fe7bb0 0%, #ff748b 74%);
}

#p5 {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: 0.4s !important;
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition-delay: 0.25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t5:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
  color: #03bcf4;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
}

#menu .icon {
  margin: 30px 0;
  transition: all 0.5s ease-out !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

a {
  text-decoration: none;
  height: max-content;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -moz-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

.sub {
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
}

h1 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  animation: fadeit 2s ease forwards;
}

.subtitle {
  position: relative;
  top: 45%;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  letter-spacing: 10px;
  color: #0e3742;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes fadeit {
  0% {
    color: transparent;
    margin-top: -40px;
  }

  100% {
    color: white;
    margin-top: 5px;
  }
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}

#logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(2) {
  stroke-dasharray: 432;
  stroke-dashoffset: 432;
  animation: line-anim 1.2s ease forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 401;
  stroke-dashoffset: 401;
  animation: line-anim 1.2s ease forwards 0.2s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
  animation: line-anim 1.2s ease forwards 0.4s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 265;
  stroke-dashoffset: 265;
  animation: line-anim 1.2s ease forwards 0.6s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 447;
  stroke-dashoffset: 447;
  animation: line-anim 1.2s ease forwards 0.8s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 1.2s ease forwards 1s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: line-anim 1.2s ease forwards 1.2s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 401;
  stroke-dashoffset: 401;
  animation: line-anim 1.2s ease forwards 1.4s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 482;
  stroke-dashoffset: 482;
  animation: line-anim 1.2s ease forwards 1.6s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 1.2s ease forwards 1.8s;
}

#logo path:nth-child(12) {
  stroke-dasharray: 401;
  stroke-dashoffset: 401;
  animation: line-anim 1.2s ease forwards 2s;
}

#logo path:nth-child(13) {
  stroke-dasharray: 242;
  stroke-dashoffset: 242;
  animation: line-anim 1.2s ease forwards 2.2s;
}

#logo path:nth-child(14) {
  stroke-dasharray: 447;
  stroke-dashoffset: 447;
  animation: line-anim 1.2s ease forwards 2.4s;
}

#logo path:nth-child(15) {
  stroke-dasharray: 565;
  stroke-dashoffset: 565;
  animation: line-anim 1.2s ease forwards 2.6s;
}

#logo path:nth-child(16) {
  stroke-dasharray: 401;
  stroke-dashoffset: 401;
  animation: line-anim 1.2s ease forwards 2.8s;
}

#logo path:nth-child(17) {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: line-anim 1.2s ease forwards 3s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.middle {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  animation: ani-bottom 1.3s ease forwards;
}

@keyframes ani-bottom {
  0%,
  10% {
    bottom: 300px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #03bcf4;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 70px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #03bcf4;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}

/* ---------------------------------------------- page 2 ------------------------------------------------------------- */

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  margin: 3% 37% 3%;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile:hover {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

span {
  font-family: Poppins, sans-serif;
}

.title {
  font-family: Poppins, sans-serif;
  font-size: 38px;
  text-align: center;
  margin-left: 38%;
}

.about {
  font-size: 16px;
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 30%;
  text-align: center;
  line-height: 1.6;
}

.wrapper {
  position: absolute;
  top: 78%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.resume {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.resume span {
  position: relative;
  z-index: 2;
}

.resume:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffec18;
  transition: all 0.35s;
}

.resume:hover {
  color: #000;
}

.resume:hover:after {
  width: 100%;
}

/* ---------------------------------------------- page 3 ------------------------------------------------------------- */
.skill-flex {
  display: flex;
  flex-direction: column;
}

.skill-bars {
  background: white;
  color: black;
  margin-top: 5%;
  margin-left: 20%;
  width: 40%;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.skill-bars:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #40e0d0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title2 {
  margin-top: 100px;
  font-family: Poppins, sans-serif;
  font-size: 38px;
  text-align: center;
  margin-right: 10%;
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
}
.annn {
  animation: showText 1s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: prog 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.animte {
  animation: prog 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes prog {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: deeppink;
}

.bar .progress-line.GD span {
  width: 55%;
}

.bar .progress-line.web span {
  width: 70%;
}

.bar .progress-line.cpp span {
  width: 65%;
}

.bar .progress-line.python span {
  width: 60%;
}

.bar .progress-line.team span {
  width: 100%;
}

.bar .progress-line.time span {
  width: 85%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.GD span::after {
  content: "55%";
}

.progress-line.web span::after {
  content: "70%";
}

.progress-line.cpp span::after {
  content: "65%";
}

.progress-line.python span::after {
  content: "60%";
}

.progress-line.team span::after {
  content: "100%";
}

.progress-line.time span::after {
  content: "85%";
}

/* ---------------------------------------------- page 4 ------------------------------------------------------------- */
h3 {
  margin-top: 100px;
  margin-left: 40%;
  font-size: 2rem;
  color: black;
  font-family: Poppins, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: 6%;
  margin-left: 10%;
}

.property-card {
  display: flex;
  justify-content: center;
  margin-right: 60px;
  margin-bottom: 30px;
  height: 18em;
  min-width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #d7e1ec;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #d7e1ec;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
/* Top Half of card, image. */
.property-image1 {
  height: 16em;
  width: 10em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/web2png.png");
}
.property-image2 {
  height: 16em;
  width: 10em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/web1.png");
}
.property-image3 {
  height: 16em;
  width: 10em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/project3.jpg");
}

.property-image4 {
  height: 16em;
  width: 10em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/netflix-clone.jpg");
}

/* Bottom Card Section */
.property-description {
  background-color: #fafafc;
  font-family: Poppins, sans-serif;
  color: #000;
  height: 12em;
  width: 12em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

/* Property Cards Hover States */
.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}

/* ---------------------------------------------- page 5 ------------------------------------------------------------- */
.mailbox {
  position: fixed;
  margin-left: 150px;
  width: 250px;
  height: 420px;
  bottom: 0%;
}

.curve {
  position: fixed;
  height: 840px;
  width: 440px;
  padding: 0;
  margin: 0;
  bottom: 0%;
}

.but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  left: 0;
}

.effect1 {
  color: #222;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 24px;
  position: relative;
  padding: 10px 50px 10px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(1);
  /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  background: #222;
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 20px;
  color: #fff;
}

.effect1:hover .bg {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.effect1 .bg:before,
.effect1 .bg:after {
  content: "";
  height: 2px;
  width: 10px;
  background: #222;
  position: absolute;
  right: -2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.effect1 .bg:after {
  top: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after {
  right: 0;
}

.effect1:hover .bg:before {
  bottom: 6px;
}

.effect1:hover .bg:after {
  top: 6px;
}

.screen-body-item {
  flex: 1;
  padding: 0;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-control {
  width: 30%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #000;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #666;
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }

  #logo {
    width: 70%;
    align-content: center;
    top: 40%;
  }
  .sub {
    top: 45%;
    width: 100%;
    line-height: 30px;
    font-size: 1rem;
    transform: scale(0.8);
    left: 25%;
  }
  .middle {
    width: 60%;
    left: 25%;
  }
  #menu {
    display: flex;
    bottom: 65%;
    justify-content: space-between;
    padding: 20px;
    left: 20%;
  }
  .icon {
    padding-right: 40px;
  }
  #t2:target #p2,
  #t3:target #p3,
  #t4:target #p4,
  #t5:target #p5 {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transition-delay: 0.4s !important;
  }
  #p1,
  #p2,
  #p3,
  #p4 {
    height: 100vh;
    width: 100vw;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15%;
    align-items: center;
  }
  .profile {
    width: 150px;
    height: 150px;
    margin-left: 0;
    margin-right: 0;
    left: 13%;
  }

  .title {
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
    margin-right: 0;
  }

  .contentz {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about {
    display: flex;
    font-size: 16px;
    padding-top: 4%;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    line-height: 1.6;
  }

  .wrapper {
    display: flex;
    margin-left: 6%;
  }

  .title2 {
    margin-left: 7%;
  }

  .center {
    margin-left: 28%;
  }

  .curve {
    display: none;
  }
  .mailbox {
    display: none;
  }
  #p5 {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  }

  h2 {
    margin-left: 30%;
  }

  .app-form-control {
    width: 60%;
    border-bottom: 1px solid rgb(182, 182, 182);
  }

  .contact-me {
    margin-left: 30%;
  }

  .but {
    margin-left: 12%;
  }

  .progress-line span::after {
    display: flex;
    align-items: flex-end;
    top: 12px;
    right: -38px;
  }

  .progress-line span::before {
    top: 10px;
  }
}

@media (max-width: 465px) {
  body {
    overflow-y: scroll;
  }
  .sub {
    left: 14%;
  }
  #menu {
    left: 12%;
  }
  .icon {
    padding-right: 40px;
    font-size: 1.75rem;
  }

  .middle {
    left: 19%;
  }

  .btn {
    transform: scale(0.8);
    margin: 0;
  }
}
